.gradle
.idea
/local.properties
.DS_Store
/build
.externalNativeBuild
*.iml
/facedetectlibrary/build/.transforms/15e2c93f459d69fb511f81b9781448b9/classes/classes.dex
/facedetectlibrary/build/.transforms/15e2c93f459d69fb511f81b9781448b9.bin
/facedetectlibrary/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/facedetectlibrary/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/facedetectlibrary/build/intermediates/aar_metadata/debug/aar-metadata.properties
/facedetectlibrary/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/facedetectlibrary/build/intermediates/compile_library_classes_jar/debug/classes.jar
/facedetectlibrary/build/intermediates/compile_r_class_jar/debug/R.jar
/facedetectlibrary/build/intermediates/compile_symbol_list/debug/R.txt
/facedetectlibrary/build/intermediates/compiled_local_resources/debug/out/raw_megviifacepp_0_5_2_model.flat
/facedetectlibrary/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/facedetectlibrary/build/intermediates/incremental/mergeDebugShaders/merger.xml
/facedetectlibrary/build/intermediates/incremental/packageDebugAssets/merger.xml
/facedetectlibrary/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/facedetectlibrary/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/facedetectlibrary/build/intermediates/incremental/packageDebugResources/merger.xml
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTracker$1.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTracker$FaceTrackerHolder.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTracker$TrackerThread$1.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTracker$TrackerThread$2.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTracker$TrackerThread.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTracker.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTrackerBuilder.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTrackParam$1.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTrackParam$FaceParamHolder.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/engine/FaceTrackParam.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/listener/FaceTrackerCallback.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/utils/ConUtil.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/utils/FaceppConstraints.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/utils/SensorEventUtil.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetect/utils/SharedUtil.class
/facedetectlibrary/build/intermediates/javac/debug/classes/com/cgfay/facedetectlibrary/BuildConfig.class
/facedetectlibrary/build/intermediates/library_assets/debug/out/81_points_position.jpg
/facedetectlibrary/build/intermediates/library_assets/debug/out/101_points_position.jpg
/facedetectlibrary/build/intermediates/library_assets/debug/out/106_points_position.jpg
/facedetectlibrary/build/intermediates/library_manifest/debug/AndroidManifest.xml
/facedetectlibrary/build/intermediates/local_only_symbol_list/debug/R-def.txt
/facedetectlibrary/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/facedetectlibrary/build/intermediates/navigation_json/debug/navigation.json
/facedetectlibrary/build/intermediates/packaged_manifests/debug/output-metadata.json
/facedetectlibrary/build/intermediates/packaged_res/debug/raw/megviifacepp_0_5_2_model
/facedetectlibrary/build/intermediates/packaged_res/debug/values/values.xml
/facedetectlibrary/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/facedetectlibrary/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/facedetectlibrary/build/outputs/logs/manifest-merger-debug-report.txt
/facedetectlibrary/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
/facedetectlibrary/build/generated/source/buildConfig/debug/com/cgfay/facedetectlibrary/BuildConfig.java
